<div class="container">
  
  <h1>Posts Index</h1>

  <%= link_to("New", new_post_path) %>
  <div class="row">
    <% @posts.each do |post| %>
  
      <div class="col-4">
        <%= link_to(post) do %>
       
          <% post.content %>
      
        <% end %>
      </div>
    
    <% end %>
  </div>
  
</div>


  
